.container_app {
    padding: 80px 20px 20px;
}

.container_app .top {
    text-align: center;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}

.container_app .body {
    display: flex;
    gap: 150px;
    padding: 65px 0;
}

.container_app .body .body_div {
    flex: 1;
}

.container_app .body .body_div h4 {
    font-size: 1.5em;
    font-weight: 700;
}

.container_app .body .body_div .body_skills_p {
    font-size: .85em;
    color: rgb(90, 90, 90);
    letter-spacing: .03em;
}

.container_app .body .body_div .cajas {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 5px 0 20px;
}

.container_app .body .body_div .cajas img {
    width: 42px;
    height: auto;
}

@media (max-width: 992px) {
    .container_app .body {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .container_app .body {
        gap: 80px;
    }
}