.container_app {
    width: 100%;
    height: 100vh;
    background-image: url('background-gray.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 10px 10px;
}

.container_app .container_init h1 {
    animation: init .7s forwards;
}

.container_app .container_init p,
.container_app .container_init a,
.container_app .social_media, .mail {
    animation: init .7s forwards;
    animation-delay: .2s;
}

@keyframes init {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container_app div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(80, 80, 80);
    padding-top: 25px;
    font-weight: 300;
    opacity: 0;
}

.mail:hover {
    text-decoration: underline;
    color: rgb(80, 80, 80);
}

.container_app h1 {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 30px;
    font-size: 3em;
}

.container_app p {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    width: 85%;
    padding-bottom: 30px;
    opacity: 0;
}

.container_app .social_media {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    opacity: 0;
}

.container_app .social_media img {
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}

.container_app .social_media img:hover {
    transform: translateY(-2px);
}

@media (max-width: 992px) {
    .container_app h1 {
        font-size: 2.7em;
        padding: 82px 0 30px;
    }
    .container_app p {
        font-size: 1.2em;
    }
}

@media (max-width: 576px) {
    .container_app {
        padding: 82px 10px 10px;
    }
    .container_app h1 {
        font-size: 1.8em;
    }
    .container_app p {
        font-size: 1.15em;
        font-weight: 600;
        text-align: center;
        width: 85%;
    }
}

@media (max-width: 400px) {
    .container_app {
        padding: 30px 10px 10px;
    }
    .container_app h1 {
        font-size: 1.75em;
    }
    .container_app p {
        font-size: 1.05em;
        font-weight: 600;
        text-align: center;
        width: 85%;
        padding-bottom: 20px;
    }
}