/* GLOBAL */
:root {
    --color-dark: #353535;
}

.hidden {
    display: block;
}

.show {
    display: none !important;
}

@media (min-width: 768px) {
    .hidden {
        display: none !important;
    }
    .show {
        display: flex !important;
    }
}

/* --------------------------------------------------------------------- */
.container {
    width: 100%;
    height: auto;
    background-color: #186F65;
    position: fixed;
    z-index: 9;
}

.oculto {
    animation: oculto .7s forwards;
}

.mostrar {
    animation: mostrar .7s forwards;
}

@keyframes oculto {
    to {
        transform: translateY(-85px);
    }
}

@keyframes mostrar {
    from {
        transform: translateY(-85px);
    }
    to {
        transform: translateY(0);
    }
}

/* OTHER */

.container .container_main .container_logo {
    cursor: pointer;
}

.container .container_main .container_logo img {
    width: 40px;
    height: 40px;
}

.container .container_main .container_logo span {
    font-size: .9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #fff;
}

.container .container_main .container_bars svg {
    font-size: 1.3em;
    cursor: pointer;
    color: #fff;
}

.container .container_main .show a {
    color: #fff;
}